
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #040d13;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*header*/
.header {
  width: 100vw;               
  height: 100px;       
  background-color: #051622;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #00bfff; 
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #fbbc05; }
.header .pio {
  color: #00bfff; 
}

/*tabs*/
.tab-container {
  margin-top: 30px;
  background-color: #051622;
  border: 1px solid #00bfff;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #00bfff;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #00bfff;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

.tab.active {
  color: #fff;
  border-bottom: 3px solid #00bfff;
}

/* Form */
.form-panel {
  display: none;
}

.form-panel.hidden {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #c5c8d6;
  color: #000;
  font-size: 1rem;
  text-align: center;
}

button[type="submit"] {
  padding: 12px;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fbbc05;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #fbbc05;
  color: #000;
}
